<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Passport Twitter with Express4</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
</head>

<body style="padding-top: 80px;">
  <div class="container">
    <div class="jumbotron text-center">
      <h1>
        <span class="fa fa-comments"><%= user.displayName %></span>
      </h1>

      <a href="/logout" class="btn btn-danger">
        <span class="fa fa-twitter"></span> Logout
      </a>
    </div>
  </div>
</body>
</html>